.branding {
    /* border: 1px solid red; */
    padding: 112px 64px 112px 64px;
    background-image: url("../../../assets/bg.png");
    color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* gap: 80px; */
}

.text {
    /* border: 1px solid green; */
    max-width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}


.branding-slider {
    /* border: 2px solid var(--background-color); */
    position: relative;
    width: 100%;
    max-width: 50%;
    min-height: 83vh;
    /* overflow: hidden; */
}

.branding-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.branding-slide.active {
    opacity: 1;

}

.branding-slider img,
.branding-slider video {
    /* width: 100%;
    height: 100%; */
    border: 2px solid var(--background-color);
    object-fit:contain;
}

@media screen and (min-width:1100px) {
    .branding-slider {
        /* border: 1px solid red; */
        width: 60%;
    }
}

@media screen and (max-width:969px) {
    .text {
        max-width: 100%;
    }

    .branding {
        flex-direction: column;
    }

    .branding-slider {
        max-width: 100%;
    }
}

@media screen and (max-width:808px) {
    .branding {
        padding: 20px;
        gap: 1rem;
    }

    .branding-slider {
        min-height: 53vh;
    }

    .text {
        width: 100%;
    }

    .text h1 {
        font-size: 26px;
    }

}