.projects {
    /* border: 1px solid red; */
    height: 100%;
    overflow: hidden;
}

.simple {
    height: 100%;
    position: relative;
    text-align: justify;
}

.projects::after {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 10;
    /* pointer-events: none; */
}

.project1 {
    /* border: 1px solid white; */
    padding: 112px 64px 112px 64px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url("../../../assets/bg.png"); */
    background-color: var(--foreground-color);
    color: var(--background-color);
    overflow: hidden;
}

.project2 {
    /* border: 1px solid white; */
    padding: 112px 64px 112px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--foreground-color);
}

.project3 {
    /* border: 1px solid white; */
    padding: 112px 64px 112px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../../assets/bg.png");
    color: var(--background-color);
}

.content {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.content h1 {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

.image {
    width: 50%;
    cursor: pointer;
}

/* .image img:nth-child(odd){ */
/* height: 100%; */
/* object-fit: cover; */
/* border: 2px solid var(--background-color); */
/* } */

.project1 .image img,
.project3 .image img {
    border: 2px solid var(--background-color);
}

.project2 .image img,
.project4 .image img {
    border: 2px solid var(--foreground-color);
}


.project-iframe {
    /* border: 1px solid red; */
    /* background-color: white; */
    /* position: fixed; */
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    /* margin: 3rem; */
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    /* overflow-y: scroll; */
}

.close-btn {
    /* background-color: aqua; */
    position: fixed;
    z-index: 100;
    top: 10px;
    right: 30px;
}

.close-btn i {
    color: var(--background-color);
}

.projectHeading {
    /* border: 1px solid red; */
    width: fit-content;
}

.simple .projectHeading {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.simple .projectHeading::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.simple .projectHeading:hover::after {
    opacity: 1;
    width: 100%;
}

.overlay {
    /* border: 10px solid red; */
    /* background-color: red; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    padding: 3rem;
    overflow-y: scroll; 
}

@media screen and (max-width:969px) {
    .projects {
        padding-top: 100px;
    }

    .project1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 34px;
    }

    .project2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 34px;
    }

    .project3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 34px;
    }
}

@media screen and (max-width:970px) {
    .project1 {
        padding: 20px;
        gap: 1rem;
        padding-top: 100px;
        margin-bottom: 3rem;
    }

    .project2 {
        padding: 20px;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .project3 {
        padding: 20px;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .content,
    .image {
        width: 100%;
    }

    .content h1 {
        font-size: 28px;
    }
}

@media screen and (max-width:430px) {
    .simple {
        text-align: left;
    }
}