.benefit {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 64px 60px 64px;
    /* margin-top: 4rem; */
    padding-top: 10rem;
    gap: 30px;
    overflow: hidden;
    /* background-image: url("../../assets/bg.png"); */
    background-color: var(--foreground-color);
    background-position: center;
    background-repeat: repeat;
    color: var(--background-color);
}


.benefit-heading {
    /* border: 1px solid green; */
    text-align: center;
    width: 816px;
    /* position: relative;
    left: 15%; */
    height: 100%;
    /* font-size: 46px; */
    font-weight: 700;
    line-height: 47.2px;
    text-transform: uppercase;
}

.benefit-intro {
    /* border: 1px solid yellow; */
    width: 816px;
    text-align: center;
    height: 100%;
    /* padding: 20px 0; */
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    /* margin-top: 1rem; */
}

.benefit-intro-button {
    width: 180px;
}

.underline-btn {
    background-color: transparent;
    /* border: 1px solid red; */
    position: relative;
    cursor: pointer;
    outline: none;
}

.underline-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--foreground-color);
    transition: width 0.5s ease-in-out;
}

.underline-btn:hover::after {
    width: 100%;
}

.benefitContactBtn {
    /* border: 1px solid red; */
    margin: 2rem auto;
    overflow: hidden;
}

/* Gsap css */
.benefit-text {
    display: flex;
    flex-wrap: wrap;
}

.benefit-text .word {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1;
}

@media screen and (max-width:808px) {
    .benefit {
        flex-direction: column;
        padding: 90px 20px 40px;
    }

    .benefit-heading {
        width: 100%;
        font-size: 36px;
        line-height: 50px;
    }

    /* .beneath-overlay{
        height: 100vh;
    } */

    .benefit-intro {
        width: 100%;
    }
}