.benefit {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 64px 80px 64px;
    gap: 80px;
}

.benefit-heading {
    /* border: 1px solid green; */
    overflow: hidden;
    width: 616px;
    height: 100%;
    font-size: 46px;
    font-weight: 700;
    line-height: 67.2px;
}

.benefit-intro {
    /* border: 1px solid yellow; */
    width: 616px;
    height: 100%;
    /* padding: 20px 0; */
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    position: relative;
    top: 10px;
}

.benefit-intro-button {
    width: 180px;
}

.underline-btn {
    background-color: transparent;
    /* border: 1px solid red; */
    position: relative;
    cursor: pointer;
    outline: none;
}

.underline-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--foreground-color);
    transition: width 0.5s ease-in-out;
}

.underline-btn:hover::after {
    width: 100%;
}

.benefitContactBtn{
    /* border: 1px solid red; */
    margin-top: 1rem;
    overflow: hidden;
}

/* Gsap css */
.benefit-text {
    display: flex;
    flex-wrap: wrap;
}

.benefit-text .word {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1;
}

@media screen and (max-width:808px) {
    .benefit {
        flex-direction: column;
        padding: 20px;
        gap: 1rem;
    }

    .benefit-heading {
        width: 100%;
        font-size: 36px;
        line-height: 50px;
    }

    .benefit-intro {
        width: 100%;
    }
}