.sketch {
    /* border: 1px solid red; */
    padding: 112px 64px 112px 64px;
    /* background-image: url("../../../assets/bg.png"); */
    color: var(--foreground-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 80px;
}

.sketch-text {
    /* border: 1px solid green; */
    background-color: var(--background-color);
    max-width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sketch-text h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.sketch-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.sketch-pic {
    /* border: 2px solid var(--foreground-color); */
    width: 100%;
    max-width: 50%;
    min-height: 83vh;
    background-image: url("/Portfolio/TVC PRODUCTION/TVC PRODUCTION edited-07.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.sketch-pic img {
    border: 2px solid var(--foreground-color);
}

@media screen and (min-width:1100px) {
    .sketch-pic {
        /* border: 1px solid red; */
        width: 60%;
    }
}


@media screen and (max-width:969px) {
    .sketch {
        flex-direction: column-reverse;
    }

    .sketch-text {
        max-width: 100%;
    }

    .sketch-pic {
        max-width: 100%;
    }
}

@media screen and (max-width:808px) {
    .sketch {
        padding: 20px;
        gap: 1rem;
    }

    .sketch-text {
        width: 100%;
    }

    .sketch-text h1 {
        font-size: 26px;
    }

    .sketch-pic {
        min-height: 53vh;
    }
}