.videoBannerAndFeature {
    position: relative;
    z-index: 1;
}

.circleDotPattern {
    position: absolute;
    width: 12%;
    height: 12%;
    top: 32rem;
    left: 10%;
    z-index: -10;
}

.circleDotWithDoodlePattern {
    position: absolute;
    width: 24%;
    height: 24%;
    top: 50rem;
    right: -2rem;
    z-index: -10;
}
@media screen and (min-width: 541px) and (max-width: 808px){
    .circleDotPattern {
        top: 20rem;
        left: 0;
        width: 20%;
        height: 20%;
    }
}
@media screen and (max-width: 540px) {
    .circleDotPattern, .circleDotWithDoodlePattern {
        display: none;
    }
}
