.video-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    top: -1px;
    overflow: hidden;
}

.hero-video {
    width: 65vw;
    border: 2px solid var(--foreground-color);
}

.video-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width:808px) {
    .video-banner {
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .hero-video {
        width: 100vw;
    }
}