.visualization {
    /* border: 1px solid red; */
    padding: 112px 64px 112px 64px;
    /* background-image: url("../../../assets/bg.png"); */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 80px;
}

.vis-text {
    /* border: 1px solid green; */
    width: 616px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.vis-text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.vis-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.vis-pic {
    /* border: 1px solid red; */
    width: 616px;
    height: 640px;
    background-image: url("../../../pics/ss.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:969px) {
    .visualization {
        flex-direction: column;
    }
}

@media screen and (max-width:808px) {
    .visualization {
        padding: 20px;
        gap: 1rem;
    }

    .vis-text {
        width: 100%;
    }
    .vis-text h1{
        font-size: 26px;
    }

    .vis-pic {
        width: 100%;
    }
}