.visualization {
    /* border: 1px solid red; */
    padding: 112px 64px 112px 64px;
    /* background-image: url("../../../assets/bg.png"); */
    color: var(--foreground-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 80px;
}

.vis-text {
    /* border: 1px solid green; */
    background-color: var(--background-color);
    max-width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.vis-text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.vis-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}


/* Css for slider */
.vis-pic {
    /* border: 2px solid var(--foreground-color); */
    position: relative;
    width: 100%;
    max-width: 50%;
    min-height: 83vh;
    overflow: hidden;
}

.vis-slide {
    position: absolute;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.vis-slide.active {
    opacity: 1;
}

.vis-pic img {
    /* width: 100%;
    height: 100%; */
    border: 2px solid var(--foreground-color);
    object-fit: cover;
}

@media screen and (min-width:1100px) {
    .vis-pic {
        /* border: 1px solid red; */
        width: 60%;
    }
}

@media screen and (max-width:969px) {
    .vis-text {
        max-width: 100%;
    }

    .visualization {
        flex-direction: column;
    }

    .vis-pic {
        max-width: 100%;
    }
}

@media screen and (max-width:808px) {
    .visualization {
        padding: 20px;
        gap: 1rem;
    }

    .vis-text {
        width: 100%;
    }

    .vis-text h1 {
        font-size: 26px;
    }

    .vis-pic {
        min-height: 53vh;
    }
}