.service-hero {
    /* border: 1px solid red; */
    /* height: 20rem; */
    padding: 112px 64px 112px 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.heading {
    /* border: 1px solid red; */
    /* width: 868px; */
    height: 145px;
    display: flex;
    align-items:end;
    font-weight: 700;
    font-size: 56px;
    overflow: hidden;
}
.service-hero-para{
    font-size: 25px;
    overflow: hidden;
}
@media screen and (max-width:969px) {
    .service-hero {
        padding: 80px 20px;
        gap: 1rem;
        /* margin: 60px 0; */
    }

    .heading {
        width: 100%;
        height: 100%;
        font-size: 36px;
    }
    .service-hero-para {
        font-size: 20px;
    }
}