.service-hero {
    /* border: 1px solid red; */
    /* height: 20rem; */
    padding: 10rem 230px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    overflow: hidden;
}

.service-hero-custom-subHeading {
    text-transform: uppercase;
}

.service-hero-custom-mainHeading {
    font-size: 25px;
    width: fit-content;
    background: linear-gradient(to right, var(--peanut-color), var(--lightPink-color));
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    overflow: hidden;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .service-hero {
        padding: 10rem 150px 60px;
    }
}

@media screen and (min-width: 809px) and (max-width: 1024px) {
    .service-hero {
        padding: 10rem 120px 60px;
    }
}

@media screen and (max-width:808px) {
    .service-hero {
        padding: 140px 20px 40px;
    }
}

@media screen and (max-width: 540px) {
    .service-hero {
        padding: 100px 20px 40px;
    }
}

@media screen and (max-width:969px) {

    .service-hero-custom-mainHeading {
        font-size: 20px;
    }
}