.logobanner{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* margin-top: 2rem; */
}

@media screen and (max-width : 640px) {
    .logobanner {
        padding: 20px;
        gap: 0px;
        margin-top: 0px;
        flex-direction: column;
    }

}