.blogCard {
    border: 1px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    min-height: 560px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.blogCard:hover {
    transform: translateY(-14px);
    box-shadow: 0 4px 8px var(--bg-color);
}

.blogImage {
    flex: 1;
}

.blogInformation {
    flex: 1;
    padding: min(max(0.575rem, 4vw), 0.875rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: var(--bg-color);
        opacity: 0.95;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.3s ease-out;
    }

    &:hover:before {
        transform: scale(33);
    }
}

.blogInformation:hover {
    p {
        transition: all 0.3s ease-out;
        color: var(--fg-color);
    }

    h3 {
        transition: all 0.3s ease-out;
        color: var(--fg-color);
    }
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    border-radius: 0 0 0 32px;
}

.go-arrow {
    font-size: min(max(1rem, 4vw), 1.325rem);
    margin-top: -4px;
    margin-right: -4px;
    color: var(--fg-color);
}

.blogDetails {
    height: auto;
}

.blogDetails p{
    font-size: min(max(0.8rem, 4vw), 1.125rem);
    margin-bottom: 14px;
    line-height: 22px;
    font-weight: 300;
}

.blogDetails h3{
    font-size: min(max(1.15rem, 4vw), 1.75rem);
    font-weight: 700;
    margin-bottom: 14px;
    line-height: 34px;
}

.authorDetailsDiv {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
}

.authorImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--bg-color);
}

.authorName {
    font-size: min(max(1rem, 4vw), 1.125rem);
    font-weight: 600;
}

.timeAndDate {
    display: flex;
    gap: 0.875rem;
}

.timeAndDate p{
    font-size: min(max(0.8rem, 4vw), 1.125rem);
    font-weight: 300;
}

@media screen and (min-width: 1536px) and (max-width: 3000px) {
    .blogCard {
        min-height: calc(400px + ((3000px - 100vw) / 9.14375));
    }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .blogCard {
        min-height: calc(560px + ((1366px - 100vw) / 1.8944));
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .blogCard {
        min-height: 480px;
    }
}

@media screen and (min-width: 769px) and (max-width: 912px) { 
    .blogCard {
        min-height: calc(540px + ((912px - 100vw) / 1.43));
    }
}

@media screen and (max-width: 540px) {
    .blogCard {
        min-height: calc(450px + ((560px - 100vw) / 17.33));
    }
    .blogDetails p{
        line-height: 20px;
    }

    .blogDetails h3{
        line-height: 24px;
        margin-bottom: 10px;
    }
}