.mainContainer {
    padding: 80px 230px;
    position: relative;
    overflow: hidden;
}

.wavePatternDiv {
    position: absolute;
    z-index: 0;
    right: -80px;
    top: -250px;
    height: 100%;
    width: 550px;
}

.approach, .benefits {
    height: auto;
    /* width: 70%; */
}


.approach-heading {
    text-align: left;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.headingSpan {
    width: fit-content;
    background: linear-gradient(to right, var(--peanut-color), var(--lightPink-color));
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.outerDiv,
.innerDiv {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: start;
}

.outerDiv {
    flex-direction: row;
    gap: 20px;
}

.innerDiv {
    flex-direction: row;
    height: auto;
    gap: 20px;
}

.approachStep, .benefitPointer {
    width: 50%;
    height: max-content;
    border: 1px solid var(--foreground-color);
    padding: 1rem 0.5rem;
    border-radius: 1rem;
}

.approachStep h3,
.benefitPointer h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1rem;

}

.approachStep p,
.benefitPointer p {
    font-size: 18px;
}

.benefits {
    margin-top: 100px;
}


@media screen and (min-width: 809px) and (max-width: 1024px) {
    .mainContainer {
        padding: 80px 64px;
    }
    .approach, .benefits {
        width: 100%;
    }

    .wavePatternDiv {
        width: 450px;
    }
}

@media screen and (min-width: 641px) and (max-width: 808px) {
    .approach,
    .benefits {
        width: 80%;
    }
    .wavePatternDiv {
        top: 80px;
        width: 350px;
    }    
}

@media screen and (max-width: 808px) {
    .col-head-text {
        margin-bottom: 20px;
    }
    .mainContainer {
        padding: 40px 20px;
    }

    .benefits {
        margin-top: 40px;
    }
    .outerDiv,
    .innerDiv {
        gap: 25px;
        flex-direction: column;
    }

    .approachStep, .benefitPointer {
        width: 100%;
    }

    .approachStep h3,
    .benefitPointer h3 {
        font-size: 20px;
        margin-bottom: 0.4rem;
    }

    .approachStep p,
    .benefitPointer p {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    .approach,
    .benefits {
        width: 100%;
    }
    .wavePatternDiv {
        display: none;
    }  
}