.footer {
    /* border: 1px solid red;   */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
    /* border: 1px solid yellowgreen; */
    padding: 80px 64px 20px 64px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    /* border: 1px solid green; */
    margin-bottom: 70px;
    width: 600px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    top: 0px;
    gap: 24px;
}

.footer-section p {
    font-size: 16px;
}

.logo-text {
    font-size: 25px;
    font-weight: 600;
    height: 60px;
    position: relative;
    left: -15px;
    top: -40px;
    /* border: 1px solid red; */
    /* overflow: hidden; */
}
.logo-text img{
    width: 10rem;
}
.newsletter form {
    display: flex;
    gap: 1rem;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.newsletter input {
    text-decoration: none;
    outline: none;
    width: 365px;
    height: 48px;
    padding: 12px;
    gap: 8px;
    background-color: var(--background-color);
    border: 1px solid var(--foreground-color);
}

.newsletter input:focus {
    border: 2px solid var(--foreground-color);
}

.subscribe-btn {
    width: 140px;
}

.column-div {
    /* border: 1px solid red; */
    width: 684px;
    height: 100%;
    margin-left: 1rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 40px;
}

.column-1,
.column-2,
.column-3 {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 16px;
    height: 100%;
}
.column-2{
    /* border: 1px solid red; */
}

.column-div-heading {
    font-size: 16px;
    font-weight: 600;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    /* border: 1px solid red; */
    color: var(--foreground-color);
}


.footer-bottom {
    padding: 30px 64px 30px 64px;
    width: 100%;
    border-top: 1px solid var(--foreground-color);
    justify-content: space-between;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: underline;
    gap: 24px;
}


/* modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* overflow: scroll; */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    max-height: 100%;
    overflow-y: auto;
  }
  
  .modal-close {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
@media screen and (max-width:1472px) {
    .footer {
        padding: 20px;
        gap: 1rem;
    }

    .column-div {
        margin-top: 40px;
    }

    .footer-section {
        top: 40px;
    }

}




@media screen and (max-width:928px) {
    .flex-container {
        flex-direction: column;
        padding: 0;
    }

    .footer-bottom {
        padding: 0;
        padding-top: 30px;

    }

    .footer-section {
        width: 100%;
        height: 100%;
    }

    .column-div {
        height: 100%;
        width: 100%;
        margin-left: 0;
    }
 
}

@media screen and (max-width:739px) {
    .footer-section {
        width: 100%;
    }

    .newsletter form {
        flex-direction: column;
    }

    .newsletter input,
    .newsletter button {
        width: 100%;
    }
}

@media screen and (max-width : 600px) {
    .footer-bottom {
        flex-direction: column-reverse;
    }
    .column-div{
        flex-wrap: wrap;
    }
}