.resourcesPage {
    min-height: 100%;
    width: 100%;
    padding-top: var(--uniform-screen-padding);
}

.resourceshero {
    padding: 3% 4rem;
}

.resourceshero p {
    font-size: 1.35rem;
    font-weight: 600;
    margin-bottom: 28px;
}

.resourceshero h1 {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 28px;
}
 
.insightsSection {
    min-height: 700px;
    padding: 4rem;
    padding-bottom: 8rem;
    width: 100%;
    background: url('./../../assets/theblueBg.svg') no-repeat center;
    background-size: cover;
    color: var(--background-color);
}


.insightsSection-p {
    font-weight: 600;
    font-size: 1.35rem;
    margin-bottom: 24px;
}

.insightsSection-h2 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 24px;
}

.viewAllButton {
    float: right;
    overflow: hidden;
    width: 12%;
    margin-top: 1rem;
}

.articlessSection {
    min-height: 650px;
    padding: 4% 4rem;
    width: 100%;
    color: var(--foreground-color);
}

.newsletterSection {
    min-height: 500px;
    padding: 4% 4rem;
    width: 100%;
    background: url('./../../assets/theblueBg.svg') no-repeat center;
    background-size: cover;
    color: var(--background-color);
}

.newsletterDiv {
    border: 1px solid var(--background-color);
    display: flex;
    height: 467px;
    justify-content: center;
    align-items: center;
}

.newsletterDivDetails {
    width: 50%;
    padding: 3rem;
}

.newsletterButtons{
    margin-top: 2.75rem;
    display: flex;
    width: 70%;
    gap: 2.5rem;
}
.newsletterImage {
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 912px) {
    .resourcesPage {
        padding-top: 10%;
    }

    .resourceshero {
        padding: 3% var(--uniform-screen-padding);
    }

    .insightsSection, .articlessSection, .newsletterSection {
        padding: var(--uniform-screen-padding);
    }

    .insightsSection {
        padding-bottom: 8rem;
    }
    
    .newsletterDiv{
        flex-direction: column;
        height: 720px;
    }
    .newsletterDivDetails{
        width: 100%;
        height: 50%;
        padding: 1.5rem;
    }
    .newsletterButtons {
        width: 50%;
    }
    .newsletterImage{
        width: 100%;
    }
    
    .viewAllButton {
        width: 20%;
    }
}

@media screen and (max-width: 768px) {
    .resourceshero h1, .insightsSection-h2{
        font-size: 2.25rem;
        margin-bottom: 18px
    }

    .insightsSection-h2 {
        font-size: 1.75rem;
    }
    .resourceshero p, .insightsSection-p{
        font-size: 1.125rem;
        margin-bottom: 18px
    }

    .insightsSection, .articlessSection {
        padding: 3rem var(--uniform-screen-padding);
    }

    .insightsSection {
        padding-bottom: 6rem;
    }
    
    .newsletterDiv {
        height: 480px;
    }
}


@media screen and (max-width: 460px) {
    .resourcesPage {
        padding-top: 5.75rem;
    }

    .viewAllButton {
        width: 50%;
        margin-top: 0;
    }

    .newsletterDiv {
        height: 730px;
    }

    .newsletterButtons {
        width: 100%;
        gap: 1rem;
        
    }
}