/* html {
    font-size: min(max(1rem, 4vw), 1.375rem);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
} */

.resourcesPage {
    min-height: 100%;
    width: 100%;
    padding: var(--uniform-screen-padding) 0;
}

.resourceshero {
    padding: 4% 6%;
}

.resourceshero p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 32px;
}

.resourceshero h1 {
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 32px;
}
 
.insightsSection {
    min-height: 700px;
    padding: var(--uniform-screen-padding);
    padding-bottom: 10%;
    width: 100%;
    background: url('./../../assets/theblueBg.svg') no-repeat center;
    background-size: cover;
    color: var(--background-color);
}


.insightsSection-p {
    font-weight: 600;
    margin-bottom: 24px;
}

.insightsSection-h2 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 24px;
}

.viewAllButton {
    float: right;
    width: 12%;
    margin-top: 1rem;
}

.articlessSection {
    min-height: 650px;
    padding: 4% var(--uniform-screen-padding);
    width: 100%;
    color: var(--foreground-color);
}

.newsletterSection {
    min-height: 500px;
    padding: 4% var(--uniform-screen-padding);
    width: 100%;
    background: url('./../../assets/theblueBg.svg') no-repeat center;
    background-size: cover;
    color: var(--background-color);
}

.newsletterDiv {
    border: 1px solid var(--background-color);
    display: flex;
    height: 467px;
    justify-content: center;
    align-items: center;
}

.newsletterDivDetails {
    /* border: 1px solid red; */
    width: 50%;
    padding: 2rem;
}
.newsletterButtons{
    margin-top: 2.75rem;
    display: flex;
    width: 70%;
    gap: 2.5rem;
}
.newsletterImage {
    width: 50%;
    height: 100%;
}

@media screen and (max-width:808px) {
    .resourceshero{
        margin-top: 2rem;
    }
    .resourceshero h1{
        font-size: 36px;
    }
    .newsletterDiv{
        flex-direction: column;
        height: 100vh;
    }
    .newsletterDivDetails{
        width: 100%;
    }
    .newsletterImage{
        width: 100%;
    }.insightsSection-h2 {
        font-size: 36px;
    }
}