.testimonial-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    /* border: 1px solid red; */
}

.testimonial {
    transition: transform 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
    width: 50%;
}

.prev, .next {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--foreground-color);
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Existing CSS for .testimonial, .test-text, .avatarr, etc. */
.test-text {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.avatarr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.avatarr img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}


/* Add to your testimonial.css */

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px; /* Adjust spacing as needed */
}

.star-icon {
    width: 24px; /* Adjust size as per your design */
    height: 24px;
}

/* Responsive Styles */
@media screen and (max-width: 808px) {
    .testimonial {
        gap: 2rem;
    }

    .test-text {
        font-size: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .testimonial {
        gap: 1rem;
    }

    .ruler {
        display: none;
    }

    .avatarr {
        flex-direction: column;
    }

    .avatarr-content {
        text-align: center;
    }
}
