.service-card-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 325px;
    gap: 30px;
    height: auto;
}
.service-card-text{
    font-size: 20px;
    text-align: justify;
    line-height: 24.38px;
}
.service-card-heading{
    font-size: 24px;
    font-weight: 800;
}
.service-card-image{
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 808px) {
    .service-card-container{
        width: 100%;
        height: auto;
        gap: 10px;
    }
  }