@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: #FFFAF0;
    --background-color: #071C40;
    --royalBlue-color: #1214EB;
    --peanut-color: #E58C10;
    --lightPink-color: #EC6164;
    --uniform-screen-padding: 6%;
    color-scheme: light !important;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: #FFFAF0;
        --background-color: #071C40;
        --royalBlue-color: #1214EB;
    }
}

/* @media (prefers-color-scheme: dark) {
  :root {
        --foreground-color: #071C40;
        --background-color: #fffaf0;
        --royalBlue-color: #1214EB;
  }
} */



html,
body {
    overflow-x: hidden;
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;
}

body {
    color-scheme: light !important;
}

@font-face {
    font-family: 'mainHeading';
    src: url('../src/fonts/Montserrat-ExtraBold.ttf')
}

@font-face {
    font-family: 'subHeading';
    src: url('../src/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'para';
    src: url('../src/fonts/Montserrat-Regular.ttf')
}

.mainHeading {
    font-family: mainHeading;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 44px;
}

.subHeading {
    font-family: subHeading;
    font-size: 1.25rem;
}

.para {
    font-family: para;
    font-size: 1.125rem;
    font-weight: 400;
}

@media screen and (min-width: 1600px){
    .mainHeading {
        font-size: 2.75rem;
        line-height: 50px;
    }
    .subHeading {
        font-size: 1.625rem;
    }
    .para {
        font-size: 1.375rem;
    }

}

/* mobile mode main heading size will be 28px */
@media screen and (max-width: 808px) {
    .mainHeading {
        font-size: 1.75rem;
    }
    .subHeading {
        font-size: 1.125rem;
    }
    .para {
        font-size: 1rem;
    }
}