@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: #071C40;
    --background-color: #fffaf0;
    --royalBlue-color: #1214EB;
    --uniform-screen-padding: 6%;
}
*{

}
html,body {
    overflow-x: hidden;
    color: var(--foreground-color);
    background-color: var(--background-color);
}

@font-face {
    font-family: 'mainHeading';
    src: url('../src/fonts/Baron-Neue.otf') 
}

@font-face {
    font-family: 'subHeading';
    src: url('../src/fonts/OpenSans-SemiBold.ttf')
}

@font-face {
    font-family: 'para';
    src: url('../src/fonts/OpenSans-Regular.ttf')
}

.mainHeading {
    font-family: mainHeading;
}

.subHeading {
    font-family: subHeading;
}
.para{
    font-family: para;
}