@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: #071C40;
    --background-color: #fffaf0;
    --royalBlue-color: #1214EB;
    --uniform-screen-padding: 6%;
    color-scheme: light !important;
}

@media (prefers-color-scheme: light) {
  :root {
        --foreground-color: #071C40;
        --background-color: #fffaf0;
        --royalBlue-color: #1214EB;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
        --foreground-color: #071C40;
        --background-color: #fffaf0;
        --royalBlue-color: #1214EB;
  }
} */



html,body {
    overflow-x: hidden;
    color: var(--foreground-color) !important;
    background-color: var(--background-color) !important;
}
body {
    color-scheme: light !important;
}

@font-face {
    font-family: 'mainHeading';
    src: url('../src/fonts/Baron-Neue.otf') 
}

@font-face {
    font-family: 'subHeading';
    src: url('../src/fonts/OpenSans-SemiBold.ttf')
}

@font-face {
    font-family: 'para';
    src: url('../src/fonts/OpenSans-Regular.ttf')
}

.mainHeading {
    font-family: mainHeading;
    color: #e58c10;
}

.subHeading {
    font-family: subHeading;
}
.para{
    font-family: para;
}